<%- include('layout/_header') %> 
<%- include('layout/navHome') %> 

<br><br><br>
<h1><center>Welcome to Just Post</center></h1>
<br><br>
<div class="jumbotron d-flex align-items-center ">
    <div class="container text-center">
        <p>Share what's on your mind</p>
        <p>Just Share It</p>
        <p>Just Post!</p>
    </div>
</div>