<%- include('layout/_header') %> 
<%- include('layout/navRegister') %> 


<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container text-center">
        <% if (errors) { %>
            <p><%= errors.errors %></p>     
        <% } %>
        <form action="/login" method="post">
            
            <p>
                Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="email">
            </p>
            <p>
                Password
                <input type="text" name="password">
            </p>
            <p>
                <input type="submit" value="LOGIN" class="btn btn-success">
            </p>
        </form>           
        
    </div>
</div>