<%- include('layout/_header') %> 
<%- include('layout/navRegister') %> 


<div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container text-center">
        <form action="/register" method="post">
            <% if (errors) { %>
                <p style="color:red"><%= errors %></p>
            <% } %>
            <p>
                Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="email">
            </p>
            <p>
                Password
                <input type="password" name="password">
            </p>
            <p>
                <input type="submit" value="register" class="btn btn-success">
            </p>
        </form>

        <p>Already have an account ? </p>
        <p>
            <a href="/login" class="btn-sm btn-warning"> Login Here</a>
        </p>
            
        
    </div>
</div>